.form {
  padding: 30px 60px;
  background: var(--dark100);
  border-radius: 0 0 8px 8px;
}

@media (max-width: 380px) {
  .form {
    padding: 30px 20px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form__boxLabel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 450px) {
  .form__boxLabel {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form__boxLabel__link {
  color: var(--gray200);
  text-decoration: none;
  font-size: 14px;
}

.form__boxLabel__link:focus,
.form__boxLabel__link:hover {
  outline: none;
  text-decoration: underline;
}

.form__boxInput {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 7px 0;
}

@media (max-width: 450px) {
  .form__boxInput {
    width: 95%;
  }
}

.form____boxInput__input {
  width: 100%;
  padding: 7px;
  font-family: "IBM Plex Sans", sans-serif;
  background: var(--gray200);
  border: none;
  border-bottom: 5px solid var(--dark100);
}

.form____boxInput__input:focus {
  outline: none;
  background: var(--white);
  border-bottom-color: var(--yellow);
}

.form__boxInput__showPassword {
  width: 46px;
  height: 37px;
  padding-top: 5px;
  background: var(--gray400);
  border: none;
  border-bottom: 5px solid var(--dark100);
  cursor: pointer;
}

.form__boxInput__showPassword:focus {
  outline: none;
  border-bottom-color: var(--yellow);
}

.form__boxInput__iconShowPassword {
  display: none;
  filter: invert(95%) sepia(0%) saturate(2%) hue-rotate(135deg) brightness(86%)
    contrast(88%);
}

.form__boxInput__showIcon {
  display: inline;
}

.form__sendForm {
  display: block;
  margin: 0 auto;
  padding: 7px 25px;
  background: var(--yellow);
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  transition: background 0.5s, outline 0.5s;
}

.form__sendForm:focus {
  outline: 3px solid var(--orange);
  outline-offset: 5px;
  background: var(--orange);
}

.form__sendForm:hover {
  background: var(--orange);
}
