.panel {
  background: rgb(20, 20, 20);
  color: rgb(245, 245, 245);
  border-radius: 5px;
  box-shadow: 0 0 18px 4px rgb(59, 59, 59);
}

.panel__header {
  margin: 0;
  padding: 20px 60px;
  text-align: center;
  font-weight: 500;
}
