.panel {
  background: var(--dark200);
  color: var(--gray100);
  border-radius: 8px;
  box-shadow: 0 0 18px 4px var(--dark300);
}

.panel__header {
  margin: 0;
  padding: 20px 60px;
  text-align: center;
  font-weight: 500;
}
