html {
  height: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.pageTemplate {
  height: 100%;
  margin: 0;
  background: url("../images/background.webp") center no-repeat;
  font-family: "IBM Plex Sans", sans-serif;
  color: rgb(240, 240, 240);
}

.pageTemplate__shdow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(66, 66, 66, 0.8) 0%,
    rgba(0, 0, 0, 0.9) 65%
  );
}
