html {
  height: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.pageTemplate {
  height: 100%;
  margin: 0;
  background: url("../images/background.webp") center no-repeat;
  background-size: cover;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--gray300);
}

@media (max-width: 800px) {
  .pageTemplate {
    background-image: url("../images//background_mobile.webp");
  }
}

.pageTemplate__shdow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    var(--shadowBackground100) 0%,
    var(--shadowBackground200) 35%
  );
}

@media (max-width: 900px) {
  .pageTemplate__shdow {
    background: radial-gradient(
      circle,
      var(--shadowBackground100) 0%,
      var(--shadowBackground200) 35%
    );
  }
}

@media (max-width: 380px) {
  .pageTemplate__shdow {
    padding: 0 10px;
  }
}
